//colores uno
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//colores dos
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//colores tres
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
  
//tipografia
$Roboto: 'Roboto Slab', serif;
$playfair: 'Playfair Display', serif;

//peso de fuente
$regular: 400;
$light: 300;
$black-italic: 900;

//tamaño  font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium:16px;
$small: 12px;



