.img_fondo{
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
}
.text{
    font-family: $playfair;
    color: $white;
    margin-left: 300px;
    font-weight: $black-italic;
    font-style: italic;
    padding-top: 300px;
    font-size: 57px;
}