
.img{
  width: 129px;
 
  margin-left: 80px;
}
.collapse {
    padding-left: 620px;
}

.navbar{
    background-color: $eerie-black;
    color: $platinum !important;
}
.navbar-nav{
  color: $platinum !important;
}
